
  /* Contenedor principal */
.container {
  min-height: 100vh;
  padding: var(--padding-large);
}

/* Contenedor del formulario */
.form-container {
  max-width: var(--max-width-form);
  margin: var(--padding-medium) auto;
  border: 2px solid var(--base-color); /* Borde con el color base (blanco suave) */
  border-radius: var(--border-radius); /* Radio de borde */
  padding: var(--padding-medium);
}

/* Estilos para el título del formulario */
.form-container h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--padding-medium);
  text-align: center;
}

/* Estilos del formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

/* Estilos para los campos de entrada (input, textarea, select) */
.form input,
.form textarea,
.form select {
  padding: var(--padding-small);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: var(--font-size-small);
}

/* Estilos para las etiquetas de los campos */
.form label {
  font-size: var(--font-size-small);
  margin-bottom: calc(var(--padding-small) / 2);
}

/* Estilos para el textarea */
.form textarea {
  min-height: var(--min-height-textarea);
  resize: vertical;
}
/* 
.button {
  background-color: #F9911A; /* Naranja */
  /* color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
} */ */

/* .large {
  width: 200px;
} */

/* Efecto hover para el botón */
/* .form button:hover {
  opacity: 0.9; */