.footer {
  background-color: #f5f5f5; 
  padding: 20px 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-top: 5px solid #0a0a5e; 
  position: fixed;
  bottom: 0;
  margin: auto;
  margin-right: 0;
  width: 80;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px; 
  height: auto;
}

.socialIcons {
  display: flex;
  gap: 20px; 
  width: 100px;
  margin-left: 35px;
}

.icon {
  width: 10px; 
  height: 10px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2); 
}