/* :root {
 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #040657;
  font-family: 'Tomorrow', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */
 
:root {
  color-scheme: light dark;
  --base-color: rgba(255, 255, 255, 0.87); /* Color de texto base */
  --background-primary: #040657; /* Fondo principal */
  --font-family: 'Tomorrow', sans-serif; /* Fuente global */
  --font-size-small: 0.875rem; /* Tamaño de fuente pequeño */
  --font-size-medium: 1rem; /* Tamaño de fuente medio */
  --font-size-large: 1.25rem; /* Tamaño de fuente grande */

  --padding-small: 8px; /* Espaciado pequeño */
  --padding-medium: 16px; /* Espaciado medio */
  --padding-large: 32px; /* Espaciado grande */
  
  --max-width-form: 600px; /* Ancho máximo para el formulario */
  --min-height-textarea: 100px; /* Altura mínima para el textarea */
  --border-radius: 8px; /* Radio de borde general */
}

/* Estilos generales para la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family); /* Usar la fuente definida globalmente */
  color: var(--base-color); /* Asegurarse que el texto tiene el color correcto */
  background-color: var(--background-primary); /* Establecer el fondo de toda la página */
}


